.cartscreen {
  display: flex;
  margin: 2rem auto;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.button-checkout {
  height: 35px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 5.5%;
  position: absolute;
  right: 6%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button-checkout a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}
@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
